[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-oauthlib = "*"
pywikibot = "*"
"beautifulsoup4" = "*"
lxml = "*"
requests = "*"

[dev-packages]
pytest = "*"
ipython = "*"
mypy = "*"

[requires]
python_version = "3.7"
